.body-container{
    background-color: rgb(227, 227, 227);
}

.store-container{
    margin-top: 3px;
    text-align: center;
   font-family: 'Times New Roman', Times, serif;
}

.satrio1 {
    padding-top: 20px;
}

.satrio3{
    padding-top: 30px;
}

.image{
    display: none;
    justify-content: center;
    align-items: center;
}

.body-container1{
    margin-right: 30px;
}

.galery-container{
    background-color: antiquewhite;
    border-radius: 10px;
    border-style: solid;
    width: 500px;
    height: 500px;
    margin-left: 435px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-ig {
    padding-top: 20px;
    margin-left: 650px;
}

.p-container{
    text-align: center;
}

.h2-container{
    margin-top: 5px;
    text-align: center;
}

.p-container2{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

